@import "../../assets/mixins";
.result-wrapper{
  width: 100%;
  padding: 0 20px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  max-height: 0;
  opacity: 0;
  overflow: auto;
  .search-item{
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    @include cf();
    .categories{
      width: 150px;
      float: left;
    }
    .description{
      width: calc( 100% - 150px);
      float: right;
      a{
        margin-bottom: 10px;
        mark, .mark{
          display: block!important;
        }
      }
    }
    &:last-child{
      margin-bottom: 0;
      border-bottom: none;
    }
  }
  &.active{
    opacity: 1;
    max-height: 500px;
  }
}