<div class="result-wrapper active">
  <div [hidden]="!searchValue" class="search-item" *ngFor="let item of items  | searchDesc: searchValue">
    <div class="categories" >{{ item.categories }}</div>
    <div class="description" *ngFor="let val of item.description | search: searchValue">
      <a routerLink="/product" (click)="sendData(item.categories, val)" [innerHTML]="marker(val, searchValue)">
      </a>
    </div>
  </div>
</div>