<div class="container">
  <div class="product-wrapper">
    <a class="back-page" routerLink="/home">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    <ul>
      <li><p class="product-title">Product Categories: <span>{{cat}}</span></p></li>
      <li><p class="description">Product Name: <span>{{name}}</span></p></li>
    </ul>
  </div>
</div>