.product-wrapper{
  padding: 10px 0;
  border: 1px solid #ccc;
  margin-top: 50px;
  .back-page{
    padding-left: 30px;
    font-size: 25px;
  }
  ul{
    padding: 30px;
    margin: 0;
    li{
      padding: 5px 15px;
      border: 1px solid #ccc;
      list-style: none;
      margin-bottom: 15px;
    }
  }
}