// Mixins.
@mixin linkHover {
    border-bottom: 1px dotted transparent;
    transition: all .3s;
    text-decoration: none;
    &:hover {
        border-bottom-color: currentColor;
    }
}


@mixin sz($size) {
    width: $size;
    height: $size;
}

@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}

@mixin cf {
    &:before,
    &:after {
        display: table;
        content: "";
    }
    &:after {
        clear: both;
    }
    .lt-ie8 & {
        zoom: 1;
    }
}

@mixin blocks-justify {
    text-align: justify;
    text-justify: newspaper;
}

@mixin input-placeholder {
    &.placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    &::-webkit-input-placeholder {
        @content;
    }
}

@mixin bsh($alpha: .1) {
    box-shadow: 0 0 3px 0 rgba(#000, $alpha);
}

@mixin ellipsis( $lines-to-show, $font-size: inherit, $line-height: 1.35) {
    @if $lines-to-show > 1 {
        max-height: $font-size*$line-height*$lines-to-show;
        display: block;
        /* Fallback for non-webkit */
        display: -webkit-box;
        margin: 0 auto;
        font-size: $font-size;
        line-height: $line-height;
        -webkit-line-clamp: $lines-to-show;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    @if $lines-to-show==1 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@mixin fz($val) {
    font-size: $val * 1px;
    font-size: (($val/1440)*100) * 1vw;
}

@mixin fzSm($valSm) {
    font-size: $valSm * 1px;
    font-size: (($valSm/991)*100) * 1vw;
}
@function fnFzSm($valSm) {
    @return (($valSm/991)*100) * 1vw;
}

@function vw($target) {
    $vw-context: (1440*.01) * 1px;
    @return ($target/$vw-context) * 1vw;
    // @return $target;
}
@function vwSm($targetSm) {
    $vw-contextSm: (1440*.01) * 1px;
    @return ($targetSm/$vw-contextSm) * 1vw;
}
