<div class="container">
  <div class="wrapper">
    <div class="search-container">
      <input type="text" placeholder="Search" (keyup)="getSearchValue($event)">
    </div>
    <app-search-result [searchValue] = "values"></app-search-result>
  </div>
</div>