.wrapper{
  width:100%;
  border: 1px solid #ccc;
  margin-top: 50px;
  .search-container{
    width: 100%;
    position: relative;
  }
  input{
    width: 100%;
    padding: 10px 35px 10px 10px;
    border: none;
    outline: none;
    font-size: 16px;
  }
  i{
    position: absolute;
    right: 10px;
    padding: 10px;
    cursor: pointer;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}